pywin32
rapidocr
onnxruntime
pyautogui
loguru
keyboard
# pip install paddlepaddle-gpu==3.0.0 -i https://www.paddlepaddle.org.cn/packages/stable/cu118/
# paddlepaddle-gpu==3.0.0
# rapidocr_paddle
